body {
  margin: 0;
  background: #333333;
  color: white;
}
canvas {
  background: black;
  width: 100%;
}
video {
  float: left;
  height: 200px;
  border: 1px solid white;
  margin-right: 10px;
}
#other {
  float: left;
  padding: 10px;
}
input[type=number] {
  width: 100px;
}
